/* Global Styles */
* {
  font-family: Lato;
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}

.btn {
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  padding: 20px 35px;
  font-size: 18px;
}
.btn:hover {
  color: #e55473;
  background: transparent;
  border: #e55473 1px solid;
}

/* Header Styles */
.banner-container {
  display: flex;
  background-color: #e554731a;
  height: 80vh;
}

.banner-info {
  margin-left: 240px;
  margin-top: 197px;
}

.banner-image {
  margin-top: 50px;
  margin-right: 240px;
}

.title-1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-description {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #27272799;
  font-size: 20px;
  font-weight: 400;
}

/* Featured Styles */
.title-2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-description {
  color: #27272799;
  text-align: center;
  margin-top: 24px;
  font-size: 18px;
}

.featured-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin-top: 38px;
}

.featured-container {
  margin: 240px;
}

.image-info {
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.image1 {
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  display: inline-block;
  padding: 110px 76px 0px 75px;
}

.image2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  display: inline-block;
  padding: 110px 40px 61px 40px;
}

.image3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  display: inline-block;
  padding: 80px 75px 0px 75px;
}

.image-info-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 100px;
}
/* service styles */
.service-container {
  margin: 128px 240px 215px 240px;
  display: flex;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  justify-content: space-around;
  padding: 87px 175px;
}
.service-info {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  margin-top: 24px;
}
/* hot deal styles */
.deal-container {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 100px 50px;
}
.deal-title {
  color: #272727;

  font-size: 45px;
}
.red-off {
  color: #e55473;
}
.deal-description {
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
/* instagram styles */
.insta-container {
  margin-top: 128px;
}
.insta-info {
  text-align: center;
}
.insta-title {
  color: #272727;
  margin: 24px;
  font-size: 40px;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 24px;
  margin-bottom: 48px;
}
.insta-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
/*Latest Deals styles */
.latest-deals {
  background-image: url(Asset/Rectangle\ 9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 449px;
  margin: 0 auto;
  align-items: center;
}
.latest-deals-container {
  margin: 128px 240px 128px 240px;
}
.latest-deals-title {
  color: #272727;
  text-align: center;
  padding-top: 122px;
  font-size: 40px;
}
.latest-deals-description {
  margin-top: 20px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
}
.latest-deals-email {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 64px;
  border: none;
  padding-left: 30px;
}
.email-btn {
  margin-top: 24px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
/* footer styles */
footer {
  background-color: #111010;
  width: 1922px;
  height: 400px;
  text-align: center;
  align-items: center;
}
.footer-container {
  padding-top: 128px;
}
.footer-title {
  color: #e55473;
  font-size: 48px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.footer-small {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
}
.white-shop {
  color: #ffffff;
}
